<div class="spinner-border" role="status" *ngIf="loading" style="position: fixed; right: 5%; top: 5%;">
  <span class="visually-hidden"></span>
</div>
<main>
  <div *ngIf="organization" style="text-align: center;">
    <h2>{{ organization.name }}</h2>
  </div>

  <div class="row">
    <div class="col">
      <form (ngSubmit)="createApplication()" ngNativeValidate *ngIf="newApplication">
        <div class="col-md-3">
          <label for="newApplicationName" class="form-label">
            Name:</label>
          <select class="form-select" id="newApplication" [(ngModel)]="newApplication.name"
            [ngModelOptions]="{standalone: true}" required="">>
            <option *ngFor="let applicationName of applicationNames" [value]="applicationName.name">
              {{ applicationName.name }}
            </option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="loading">Create</button>
      </form>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <!-- <th scope="col">Type</th> -->
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody *ngIf="applications.length > 0">
          <tr *ngFor="let application of applications; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>{{ application.type }}</td> -->
            <td>{{ application.status }}</td>
            <td>{{ application.name }}</td>
            <td>
              <button class="btn btn-danger" [disabled]="loading"
                (click)="openApplicationDetailsModal(application)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>










<!-- Modal -->
<div class="modal fade show" id="applicationDetailsModal" tabindex="-1" aria-labelledby="applicationDetailsModalLabel"
  aria-hidden="true" style="display: block;" *ngIf="isApplicationDetailsModalOpened && selectedApplication">
  <div class="modal-dialog modal-dialog-applicationDetailsModal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="applicationDetailsModalLabel">Application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeApplicationDetailsModal()" [disabled]="loading"></button>
      </div>
      <div class="modal-body">
        <!-- <div class="card Application-info-card"> -->
        <div *ngIf="selectedApplication.status == 'Signed' && selectedApplication.document"
          [innerHTML]="selectedApplication.document | safeHtml">

        </div>
        <div *ngIf="selectedApplication.status == 'Unsigned'">
          <div class="alert alert-danger" role="alert">
            This application is unsigned!
          </div>
        </div>
        <div *ngIf="selectedApplication.status == 'Awaiting'">
          <div class="alert alert-info" role="alert">
            This application is not ready yet!
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- <div class="modal-footer">
        </div> -->
    </div>
  </div>
</div>