<div>
  <div *ngIf="organization" style="text-align: center;">
    <h2>{{ organization.name }}</h2>
  </div>

  <div class="row">
    <div class="col">
      <form (ngSubmit)="createApplication()" ngNativeValidate *ngIf="newApplication">
        <button class="btn btn-primary" type="submit" [disabled]="loading">Create</button>
      </form>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <!-- <th scope="col">Type</th> -->
            <th scope="col">Status</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody *ngIf="applications.length > 0">
          <tr *ngFor="let application of applications; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>{{ application.type }}</td> -->
            <td>{{ application.status }}</td>

            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>