<div class="spinner-border" role="status" *ngIf="loading" style="position: fixed; right: 5%; top: 5%;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container" *ngIf="organization">
    <button class="btn btn-primary" routerLink="/manager/my-organizations" style="margin-bottom: 20px;">Back</button>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ organization.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">BIN: {{ organization.bin }}</h6>
            <p class="card-text">
              <a>Address: {{ organization.address }}</a><br>
              <a>Contact number: {{ organization.contactNumber }}</a>
            </p>
            <p *ngIf="organization.ownerManager">
              Manager: <br>
              <img src="{{ imagePrefixToDisplay+organization.ownerManager?.photoBase64 }}" alt="mdo" width="30"
                height="30" style="margin-right: 5px;" class="rounded-circle"
                *ngIf="organization.ownerManager?.photoBase64">
              <img src="assets/images/no-photo.png" alt="mdo" width="30" height="30" class="rounded-circle"
                style="margin-right: 5px;" *ngIf="!organization.ownerManager?.photoBase64">
              {{ organization.ownerManager?.firstName }} {{ organization.ownerManager?.lastName }}
            </p>
            <div>
              <button class="btn" (click)="selectedSection = 'Applications'"
                style="text-align: center; width: 100%; margin-bottom: 5px;" [disabled]="loading"
                [ngClass]="{'btn-primary': selectedSection != 'Applications', 'btn-secondary': selectedSection == 'Applications'}">Applications</button>
              <button class="btn btn-primary" (click)="selectedSection = 'Members'"
                style="text-align: center; width: 100%;"
                [ngClass]="{'btn-primary': selectedSection != 'Members', 'btn-secondary': selectedSection == 'Members'}"
                [disabled]="loading">Members</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <app-organization-members-page *ngIf="selectedSection == 'Members'"
          [organization]="organization"></app-organization-members-page>
        <app-organization-applications-page *ngIf="selectedSection == 'Applications'"
          [organization]="organization"></app-organization-applications-page>
      </div>
    </div>


  </div>
</main>