.filter-btn{
  margin: 10px;
}

.modal-dialog-applicationDetailsModal {
  max-width: 70%;
}


@media only screen and (max-width: 768px) {
  .modal-dialog-applicationDetailsModal {
    max-width: 98%;
  }
}