<div class="spinner-border" role="status" *ngIf="loading"
  style="position: fixed; right: 5%; top: 5%; z-index: 9999; width: 80px; height: 80px;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container">
    <h2 style="text-align: center;">Applications</h2>
    <hr>
    <div class="filter">
      <h5>Filter</h5>
      <div class="row">
        <button class="btn btn-primary col filter-btn" (click)="selectedStatus = null"
          [disabled]="selectedStatus === null || selectedStatus === 'All' || loading">
          All
        </button>
        <button class="btn btn-primary col filter-btn" (click)="selectedStatus = 'Awaiting'"
          [disabled]="selectedStatus === 'Awaiting' || loading">
          Awaiting
        </button>
        <button class="btn btn-success col filter-btn" (click)="selectedStatus = 'Signed'"
          [disabled]="selectedStatus === 'Signed' || loading">
          Signed
        </button>
        <button class="btn btn-danger col filter-btn" (click)="selectedStatus = 'Unsigned'"
          [disabled]="selectedStatus === 'Unsigned' || loading">
          Unsigned
        </button>
      </div>
    </div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Organization</th>
          <th scope="col">Member</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of getFilteredApplications(); let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ application.number }}</td>
          <td>{{ application.name }}</td>
          <td>{{ application.status }}</td>
          <td>{{ application.organization?.name }}</td>
          <td>{{ application.member?.firstName }} {{ application.member?.lastName }}</td>
          <td>
            <button class="btn btn-info" [disabled]="loading" (click)="openApplicationDetailsModal(application)">Details</button><br>
            <button class="btn btn-danger" [disabled]="loading" (click)="forceDelete(application.id!)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>







<!-- Modal -->
<div class="modal fade show" id="applicationDetailsModal" tabindex="-1" aria-labelledby="applicationDetailsModalLabel"
  aria-hidden="true" style="display: block;" *ngIf="isApplicationDetailsModalOpened && selectedApplication">
  <div class="modal-dialog modal-dialog-applicationDetailsModal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="applicationDetailsModalLabel">Application
          <button *ngIf="selectedApplication.document && selectedApplication.status == 'Signed'" class="btn btn-success" [disabled]="loading"
            (click)="downloadApplicationDocumentPdf(selectedApplication)" style="float: right;"><i
              class="bi bi-download"></i></button>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeApplicationDetailsModal()" [disabled]="loading"></button>
      </div>
      <div class="modal-body">
        <!-- <div class="card Application-info-card"> -->
        <div *ngIf="selectedApplication.document" [innerHTML]="selectedApplication.document | safeHtml" id="application-document">
        </div>
        <div *ngIf="selectedApplication.status == 'Unsigned'">
          <div class="alert alert-danger" role="alert">
            This application is unsigned!
          </div>
        </div>
        <div *ngIf="selectedApplication.status == 'Awaiting'">
          <div class="alert alert-info" role="alert">
            This application is not ready yet!
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- <div class="modal-footer">
        </div> -->
    </div>
  </div>
</div>