<div class="spinner-border" role="status" *ngIf="loading"
  style="position: fixed; right: 5%; top: 5%; z-index: 9999; width: 80px; height: 80px;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container">
    <h2 style="text-align: center;">Applications</h2>
    <hr>
    <div class="filter">
      <h5>Filter</h5>
      <div class="row">
        <button class="btn btn-primary col filter-btn" (click)="selectedStatus = null"
          [disabled]="selectedStatus === null || selectedStatus === 'All' || loading">
          All
        </button>
        <button class="btn btn-primary col filter-btn" (click)="selectedStatus = 'Awaiting'"
          [disabled]="selectedStatus === 'Awaiting' || loading">
          Awaiting
        </button>
        <button class="btn btn-success col filter-btn" (click)="selectedStatus = 'Signed'"
          [disabled]="selectedStatus === 'Signed' || loading">
          Signed
        </button>
        <button class="btn btn-danger col filter-btn" (click)="selectedStatus = 'Unsigned'"
          [disabled]="selectedStatus === 'Unsigned' || loading">
          Unsigned
        </button>
      </div>
    </div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Organization</th>
          <th scope="col">Member</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of getFilteredApplications(); let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ application.number }}</td>
          <td>{{ application.name }}</td>
          <td>{{ application.status }}</td>
          <td>{{ application.organization?.name }}</td>
          <td>{{ application.member?.firstName }} {{ application.member?.lastName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>