################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentProject.WebAPI/DocumentProject.WebAPI/Data/User.cs
