<nav class="navbar navbar-expand-lg  bg-dark" style="padding-bottom: 21px; padding-top: 25px;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      <!-- <button type="button" [disabled]="loading" class="btn btn-danger" style="margin-right: 20px;"
        (click)="logout()">{{ 'Logout' | translate }}&nbsp;<i class="bi bi-box-arrow-right"></i></button> -->

      <div class="dropdown" style="margin-right: 100px;">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="assets/images/no-photo.png" alt="mdo" width="35.1" height="35.1" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <!-- <button class="dropdown-item" (click)="logout()" [disabled]="loading">{{ 'Logout' | translate }}</button> -->
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>