<nav class="navbar navbar-expand-lg  bg-dark" style="padding-bottom: 20px; padding-top: 31px;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      <!-- <button type="button" [disabled]="loading" class="btn btn-danger" style="margin-right: 20px;"
        (click)="logout()">{{ 'Logout' | translate }}&nbsp;<i class="bi bi-box-arrow-right"></i></button> -->

      <div class="dropdown" style="margin-right: 100px; display: flex; flex-direction: row;" *ngIf="currentUser">
        <a class="btn" style="color: red; font-size: 20px;" (click)="isShowNotifications = !isShowNotifications"
          *ngIf="notifications.length > 0"><i class="bi bi-bell"></i></a>

        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ imagePrefixToDisplay+currentUser.photoBase64 }}" alt="mdo" width="35.1" height="35.1"
            class="rounded-circle" *ngIf="currentUser.photoBase64">
          <img src="assets/images/no-photo.png" alt="mdo" width="35.1" height="35.1" class="rounded-circle"
            *ngIf="!currentUser.photoBase64">
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <button class="dropdown-item" [routerLink]="['/profile']" [disabled]="loading">Profile</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()" [disabled]="loading">Logout</button>
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>


<div class="card" *ngIf="isShowNotifications"
  style="position: absolute; z-index: 9999; float: left; right: 10rem; top: 75px; padding: 10px 5px;">
  <div style="display: flex;">
    <h5 class="col-11">Notifications</h5>
    <button class="btn btn-danger col-1" style="float: right;" (click)="isShowNotifications = false"><i class="bi bi-x-lg"></i></button>
  </div><hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let notification of notifications">
      <div class="row">
        <div class="col-10">
          {{ notification.message }}
        </div>
        <div class="col-2">
          <button class="btn" [disabled]="loading" (click)="markAsReadNotification(notification.id!)"><i
              class="bi bi-bookmark-check"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>