<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="assets/images/logo-title.png" style="width: 100px;">
  </div>
  <ul class="sidebar-navigation">
    <li class="header">{{ 'Navigation' }}</li>
     <li class="list-item">
      <a [routerLink]="['/']">
        <i class="bi bi-house" aria-hidden="true"></i> My organizations
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/profile']">
        <i class="bi bi-person-lines-fill"></i> Profile
      </a>
    </li>
    <!-- <li class="list-item">
      <a [routerLink]="['/contracts']">
        <i class="bi bi-file-earmark-check" aria-hidden="true"></i> {{ 'Contracts' }}
      </a>
    </li>-->
    <li class="list-item">
      <a [routerLink]="['/about-us']">
        <i class="bi bi-info-circle"></i> About us
      </a>
    </li> 
    <!-- <li class="header">Another Menu</li>
      <li>
        <a href="#">
          <i class="bi bi-users" aria-hidden="true"></i> Friends
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-info-circle" aria-hidden="true"></i> Information
        </a>
      </li> -->
  </ul>
</div>