<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="assets/images/logo-title.png" style="width: 100px;">
  </div>
  <ul class="sidebar-navigation">
    <li class="header">{{role}} portal Navigation</li>
    <li class="list-item" *ngIf="role == 'Manager'" [routerLink]="['/']">
      <a>
        <i class="bi bi-house" aria-hidden="true"></i> My organizations
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Member'" [routerLink]="['/']">
      <a>
        <i class="bi bi-house" aria-hidden="true"></i> My organization
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Member'" [routerLink]="['/member/my-applications']">
      <a>
        <i class="bi bi-file-earmark-medical" aria-hidden="true"></i> My applications
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Admin'" [routerLink]="['/admin/organizations']">
      <a>
        <i class="bi bi-building"></i> Organizations
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Admin'" [routerLink]="['/admin/members']">
      <a>
        <i class="bi bi-people-fill"></i> Members
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Admin'" [routerLink]="['/admin/applications']">
      <a>
        <i class="bi bi-file-earmark-medical"></i> Applications
      </a>
    </li>
    <li class="list-item" *ngIf="role == 'Admin'" [routerLink]="['/admin/managers']">
      <a>
        <i class="bi bi-person-check"></i> Managers
      </a>
    </li>
    <li class="header">Info</li>
    <li class="list-item" [routerLink]="['/profile']">
      <a>
        <i class="bi bi-person-lines-fill"></i> Profile
      </a>
    </li>

    <li class="list-item" [routerLink]="['/about-us']">
      <a>
        <i class="bi bi-info-circle"></i> About us
      </a>
    </li>
  </ul>
</div>