<div class="spinner-border" role="status" *ngIf="loading"
  style="position: fixed; right: 5%; top: 5%; z-index: 9999; width: 80px; height: 80px;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container">
        <h2 style="text-align: center;">Members</h2>
        <hr>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Full name</th>
              <th scope="col">Email</th>
              <th scope="col">Position</th>
              <th scope="col">Address</th>
              <th scope="col">Phone number</th>
              <th scope="col">Organization</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ member.firstName }} {{ member.lastName }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.position }}</td>
              <td>{{ member.address }}</td>
              <td>{{ member.phoneNumber }}</td>
              <td>{{ member.organization?.name }}</td>
              <td>
                <button class="btn btn-danger" [disabled]="loading" (click)="forceDelete(member.id!)"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</main>