<div class="spinner-border" role="status" *ngIf="loading"
  style="position: fixed; right: 5%; top: 5%; z-index: 9999; width: 80px; height: 80px;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container">
    <h2 style="text-align: center;">Organizations</h2>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">BIN</th>
          <th scope="col">Address</th>
          <th scope="col">Contact number</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organization of organizations; let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ organization.name }}</td>
          <td>{{ organization.bin }}</td>
          <td>{{ organization.address }}</td>
          <td>{{ organization.contactNumber }}</td>
          <td>{{ organization.ownerManager?.firstName }} {{ organization.ownerManager?.lastName }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</main>