<main>
  <div class="container">
    <div class="spinner-border" role="status" *ngIf="loading" style="position: fixed; right: 5%">
      <span class="visually-hidden"></span>
    </div>
    <div class="row">
      <div class="col-4">
        <form (ngSubmit)="createOrganization()" ngNativeValidate *ngIf="newOrganization">
          <div class="mb-3">
            <label for="inputTournamentName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputTournamentName" [(ngModel)]="newOrganization.name"
              [ngModelOptions]="{standalone: true}" required [disabled]="loading">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="loading">Create</button>
        </form>

      </div>
      <div class="col-8">
        <h2>Организации</h2>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start organization-list-item"
            *ngFor="let organization of organizations">
            <div class="ms-2 me-auto" [routerLink]="'/organization/'+organization.id" style="width: 100%;">
              <div class="fw-bold" style="width: 100%;">{{ organization.name }}</div>
              <!-- Content for list item -->
            </div>
            <!-- <button class="btn btn-danger" (click)="deleteOrganization(organization.id!)" style="z-index: 9999;"><i
                class="bi bi-trash"></i></button> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>