<!-- <div class="container-fluid" style="height: 100vh;"> -->
<div class="row" style="height: 100vh; margin: 0px;" *ngIf="shouMenuAndHeader">
  <div class="col-3" id="menu-col">
    <app-menu></app-menu>
  </div>
  <div class="col-9" id="content-col">
    <app-header></app-header>

    <section class="container" id="content-section">
      <router-outlet (activate)="checkPath()"></router-outlet>
    </section>

  </div>
</div>
<!-- </div> -->


<div *ngIf="shouMenuAndHeader == false">
  <router-outlet (activate)="checkPath()"></router-outlet>
</div>