<div class="spinner-border" role="status" *ngIf="loading"
  style="position: fixed; right: 5%; top: 5%; z-index: 9999; width: 80px; height: 80px;">
  <span class="visually-hidden"></span>
</div>

<main>
  <div class="container">
    <h2 style="text-align: center;">Managers</h2>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Full name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers; let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>
                <img src="{{ imagePrefixToDisplay+manager.photoBase64 }}" alt="mdo" width="30" height="30" style="margin-right: 5px;"
                  class="rounded-circle" *ngIf="manager.photoBase64">
                <img src="assets/images/no-photo.png" alt="mdo" width="30" height="30" class="rounded-circle" style="margin-right: 5px;"
                  *ngIf="!manager.photoBase64">
            {{ manager.firstName }} {{ manager.lastName }}</td>
          <td>{{ manager.email }}</td>
          <td>{{ manager.phoneNumber }}</td>
          <td>
            <button class="btn btn-danger" [disabled]="loading" (click)="forceDelete(manager.id!)"><i class="bi bi-trash"></i></button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</main>